= simple_form_for([@session.world, @session]) do |f|
  = f.error_notification

  .inputs
    = f.input :title
    = f.input :description, as: :text, input_html: {rows: 8, class: "span8"}
    = f.input :guidelines, as: :text, input_html: {rows: 3, class: "span6"}
    = f.input :started_at, as: :datetime, input_html: {class: "span1"}, :use_month_numbers => true
    = f.input :finished_at, as: :datetime, input_html: {class: "span1"}, :use_month_numbers => true
    = f.input :deadline, as: :datetime, input_html: {class: "span1"}, :use_month_numbers => true

  .form-actions
    = f.button :submit, class: "btn btn-primary"
