%article.session
  %h3= link_to session.title, [@world, session]
  .well
    ~ markdown session.description
    %p.info
      %span
        %i.icon.icon-user
        = link_to session.game_master.name, session.game_master
      |
      %span
        %i.icon.icon-time
        = t 'general.estimated-time-start'
        = l session.started_at
      |
      %span
        %i.icon.icon-ok
        = t 'general.deadline'
        = l session.deadline
      |
      %span
        = t 'general.applicants'
        %span.badge
          = session.applicants.count
    = link_to t('general.view-session'), [@world, session], class: "btn btn-block btn-info"
%hr