- content_for :sidebar do
  = render "sidebar"

- content_for :header do
  .page-header
    %h2
      = t "general.finished-sessions"
      %small= @world.name

%table.table.table-striped
  %tr
    %th Title
    %th GameMaster
    %th Description
    %th StartedAt

  - @sessions.each do |session|
    %tr
      %td= link_to session.title, [@world, session]
      %td
        %i.icon.icon-user
        = link_to session.game_master.name, session.game_master
      %td= truncate session.description
      %td
        %i.icon.icon-time
        = l session.started_at

