
- if can? :manage, @session
  .pull-right
    = link_to "Create Session Room", new_session_room_path(@session), class: "btn btn-primary"
    = link_to 'Edit', edit_world_session_path(@session.world), class: "btn"

%h2= @session.title
%p= @session.world.name

%div.well
  %dl
    %dt GameMaster
    %dd
      %i.icon-user
      = link_to @session.game_master.name, @session.game_master

    %dt StartedAt
    %dd
      %i.icon-time
      = @session.started_at.to_s :db
    %dt FinishdAt
    %dd
      %i.icon-time
      = @session.finished_at.to_s :db

    %dt
      GuideLines
      - if @session.public?
        %span.label.label-info
          Open
      - else
        %span.label.label-warning
          Close

    %dd= @session.guidelines

%div
  .well
    ~ markdown @session.description

.form-actions
  = link_to 'Back', @session.world, class: "btn"

%h3 Listing Session Rooms

%table.table.table-striped
  %tr
    %th Title
    %th Description
    %th CreatedAt
  = render @session.rooms

%h3 Session Comments
#comments
  = render @session.comments
#comment_error
= simple_form_for [@session, @comment], :html => {class: "well form-inline"}, :remote => true do |f|
  = f.input_field :body, placeholder: "Comment", class: "span9"
  = f.button :submit, class: "btn-success", id: "new_comment_submit"