

%h2= @session.title
%p= @session.world.name

%div.well
  %dl
    %dt GameMaster
    %dd
      %i.icon-user
      = link_to @session.game_master.name, @session.game_master

    %dt StartedAt
    %dd
      %i.icon-time
      = @session.started_at.to_s :db
    %dt FinishdAt
    %dd
      %i.icon-time
      = @session.finished_at.to_s :db

    %dt
      GuideLines
      - if @session.open?
        %span.label.label-info
          Open
      - else
        %span.label.label-warning
          Close

    %dd= @session.guidelines

%div
  .well
    ~ markdown @session.description

.form-actions
  - if @session.game_master == current_user
    = link_to "Create Session Room", new_session_room_path(@session), class: "btn btn-primary"
  = link_to 'Edit', edit_world_session_path(@session.world), class: "btn"
  = link_to 'Back', world_sessions_path, class: "btn"

%h3 Listing Rooms

%table.table.table-striped
  %tr
    %th Title
    %th Description
    %th CreatedAt
  = render @session.rooms
