
- content_for :sidebar do
  = render "sidebar"

- if can? :manage, @session
  .btn-toolbar
    .btn-group.dropdown
      %a(class="dropdown-toggle btn" data-toggle="dropdown" href="#")
        Action
        %span.caret
      %ul(class="dropdown-menu" role="menu")
        %li= link_to t(".create-session-room"), new_session_room_path(@session)
        %li= link_to t("buttons.edit"), edit_world_session_path(@session.world)
        %li= link_to t('.edit-members'), edit_world_session_applicants_path(@world, @session)
    %a(href="#{world_session_path(@world, @session)}" data-method="delete" rel="nofollow" data-confirm="#{t('confirms.delete')}" class="btn btn-danger")
      %i.icon.icon-trash.icon-white
      = t("buttons.delete")

- content_for :header do
  .page-header
    %h1
      = @session.title
      %small= @session.world.name

%div.well
  %dl
    %dt= t('general.game-master')
    %dd
      %i.icon-user
      = link_to @session.game_master.name, @session.game_master

    %dt= t('general.estimated-time-start')
    %dd
      %i.icon-time
      = @session.started_at.to_s :db
    %dt= t('general.estimated-time-finish')
    %dd
      %i.icon-time
      = @session.finished_at.to_s :db

    %dt
      = t("general.guidelines")
      - if @session.public?
        %span.label.label-info
          Open
      - else
        %span.label.label-warning
          Close

    %dd= @session.guidelines

%div
  .well
    ~ markdown @session.description

%div(id="entry-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="entry-modal-label" aria-hidden="true" style="display: none;")
  .modal-header
    %button(type="button" class="close" data-dismiss="modal" aria-hidden="true")x
    %h3#entry-modal-label
      = t '.entry-session'
  .modal-body
  #applicant-error
  .modal-footer
    %button(class="btn" data-dismiss="modal" aria-hidden="true")Close
    %button(id="entry-button" class="btn btn-primary")Entry

%h3= t("general.session-rooms")

%table.table.table-striped
  %tr
    %th Title
    %th Description
    %th CreatedAt
  = render @session.rooms

%ul.nav.nav-tabs
  %li.active= link_to t('.comments'), "#comments", "data-toggle" => "tab"
  - if @session.fix_applicant?
    %li= link_to t('.participants'), "#participants", "data-toggle" => "tab"
  - else
    %li= link_to t('.applicants'), "#applicants", "data-toggle" => "tab"

.tab-content
  #comments.tab-pane.active
    #comment_error
    = simple_form_for [@session, @comment], :html => {class: "well form-inline"}, :remote => true do |f|
      = f.input_field :body, placeholder: "Comment", class: "span7"
      = f.button :submit, class: "btn-success", id: "new_comment_submit"
    #comments-container
      = render @session.comments.reverse
  - if @session.fix_applicant?
    #participants.tab-pane
      = render @session.applicants.approved
  - else
    #applicants.tab-pane
      - if !@session.fix_applicant? && can?(:create, @applicant)
        = link_to t('buttons.entry-session'), new_world_session_applicant_path(@session.world, @session), role: "button", class: "btn btn-success btn-block", "data-toggle" => "modal", "data-target" => "#entry-modal"
      #applicants-container
        = render @session.applicants

