= simple_form_for @world do |f|
  -if f.error_notification
    .alert.alert-error
      = f.error_notification

  = f.input :name
  = f.input :description, as: :text, input_html: {rows: 3}
  = f.input :game_system_id, collection: GameSystem.all

  .form-actions
    = f.submit 'Save', class: 'btn btn-primary'
