%h1 Listing worlds

%table.table.table-striped
  %tr
    %th Name
    %th GameSystem
    %th Owner
    %th Latest Session

  - @worlds.each do |world|
    %tr
      %td= link_to world.name, world
      %td= link_to world.game_system.name, world.game_system
      %td
        %i.icon-user
        = world.owner.name
      %td
        %i.icon-time
        = world.latest_session_at.presence || "No session"

= link_to 'New World', new_world_path, class: 'btn btn-primary'
