%h1 Listing worlds

%table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th

  - @worlds.each do |world|
    %tr
      %td= world.name
      %td= world.description
      %td= link_to 'Show', world
      %td= link_to 'Edit', edit_world_path(world)
      %td= link_to 'Destroy', world, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New World', new_world_path
