
- content_for :sidebar do
  = render "sidebar"

- content_for :header do
  .hero-unit
    %h2= @world.name
    %p= link_to @world.game_system.name, @world.game_system
    - if user_signed_in? &&  @world.can_user_register?(current_user)
      %p= link_to t("buttons.join"), new_world_member_path(@world), class: "btn btn-primary btn-large"

%dl
  %dt Owner
  %dd
    %i.icon-user
    = link_to @world.owner.name, @world.owner
    - if @world.owner == current_user
      %soan.label.label-info you

  %dt LatestSeesion
  %dd= @world.latest_session_at

.well
  ~ markdown @world.description

.form-actions
  - if can? :create, @world.sessions.build
    = link_to t("buttons.create-session"), new_world_session_path(@world), class: "btn btn-success"
  - if can? :create, @world.rooms.build
    = link_to t("buttons.create-static-room"), new_world_room_path(@world, :static => 1), class: "btn btn-primary"

%h3 Listing Rooms

%table.table.table-striped
  %tr
    %th Title
    %th Description
    %th CreatedAt
  = render @rooms

%h3 Listing Sessions

%table.table.table-striped
  %tr
    %th Title
    %th GameMaster
    %th Description
    %th StartedAt
  - @sessions.each do |session|
    %tr
      %td= link_to session.title, [@world, session]
      %td
        %i.icon.icon-user
        = link_to session.game_master.name, session.game_master
      %td= truncate session.description
      %td
        %i.icon.icon-time
        = l session.started_at

