
.hero-unit
  %h2= @world.name
  %p= link_to @world.game_system.name, @world.game_system
  - if user_signed_in? &&  @world.can_user_register?(current_user)
    %p= link_to t("general.buttons.join"), new_world_member_path(@world), class: "btn btn-primary btn-large"

%dl
  %dt Owner
  %dd
    %i.icon-user
    = link_to @world.owner.name, @world.owner
    - if @world.owner == current_user
      %soan.label.label-info you

  %dt LatestSeesion
  %dd= @world.latest_session_at

.well
  ~ markdown @world.description

.form-actions
  - if can? :create, @world.sessions.build
    = link_to "Create Session", new_world_session_path(@world), class: "btn btn-success"
  - if can? :create, @world.rooms.build
    = link_to "Create Static Room", new_world_room_path(@world, :static => 1), class: "btn btn-primary"
    = link_to "View Character List", world_characters_path(@world), class: "btn"
  = link_to "View Session List", world_sessions_path(@world), class: "btn"
  = link_to "View Finished Session List", finished_world_sessions_path(@world), class: "btn"
  = link_to t("general.world.member_list"), world_members_path(@world), class: "btn"

%h3 Listing Rooms

%table.table.table-striped
  %tr
    %th Title
    %th Description
    %th CreatedAt
  = render @rooms

%h3 Listing Sessions

%table.table.table-striped
  %tr
    %th Title
    %th GameMaster
    %th Description
    %th StartedAt
  = render @sessions


