
%h2= @world.name

%dl
  %dt Owner
  %dd
    %i.icon-user
    = link_to @world.owner.name, @world.owner
    - if @world.owner == current_user
      %soan.label.label-info you

  %dt GameSystem
  %dd= link_to @world.game_system.name, @world.game_system

  %dt LatestSeesion
  %dd= @world.latest_session_at

.well
  = simple_format @world.description

.form-actions
  = link_to "Create Session", new_world_session_path(@world), class: "btn btn-primary"
  = link_to "View Session List", world_sessions_path(@world), class: "btn"

= link_to 'Back', worlds_path
