= form_for @game_system do |f|
  -if @game_system.errors.any?
    #error_explanation
      %h2= "#{pluralize(@game_system.errors.count, "error")} prohibited this game_system from being saved:"
      %ul
        - @game_system.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
