%h1 Listing game_systems

%table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th

  - @game_systems.each do |game_system|
    %tr
      %td= game_system.name
      %td= game_system.description
      %td= link_to 'Show', game_system
      %td= link_to 'Edit', edit_game_system_path(game_system)
      %td= link_to 'Destroy', game_system, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Game system', new_game_system_path
