- content_for :sidebar do
  = render "sidebar"

- content_for :header do
  .page-header
    %h2
      = t "general.characters"
      %small= @world.name

.form-actions
  = link_to "Create New Character", new_world_character_path(@world), class: "btn btn-primary"

= render :file => "characters/#{@system_key}/index"

