%h2
  Login
= bootstrap_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {class: "form-horizontal"}) do |f|
  = f.control_group :email do
    = f.email_field :email
  = f.control_group :password do
    = f.password_field :password
  - if devise_mapping.rememberable?
    = f.control_group :remember_me, class: "checkbox" do
      %label.checkbox{:for => :user_remember_me}
        = f.check_box :remember_me, class: "checkbox"
        ログイン情報を記録する
  %div.form-actions
    = f.submit "Login", :class => 'btn-primary'
= render :partial => "devise/shared/links"
