#sword_world_rpg2
  = simple_nested_form_for(@character, url: world_characters_path(@world, @character), :html => { :class => 'form-horizontal' }) do |f|

    = f.input :name
    = f.input :gender, :collection => [:male, :female], as: :radio_buttons
    = f.input :age, as: :integer, :input_html => {class: "span1"}

    = f.input :race, :label => "種族"
    = f.input :race_bonus, :label => "種族特性"
    = f.input :birth, :label => "生まれ"

    = f.input :records, label: "経歴" do
      - @character.records.each do |record|
        = f.input_field :records, name: "#{f.object_name}[records][]", value: record

    = f.input :pollution, :label => "穢れ", as: :integer
    = f.input :experience, :label => "経験点", as: :integer
    = f.input :total_experience, :label => "総経験点", as: :integer
    = f.input :honor, label: "名誉点", as: :integer
    = f.input :total_honor, label: "総名誉点", as: :integer
    = f.input :hp_bonus, label: "HP修正値", as: :integer
    = f.input :mp_bonus, label: "MP修正値", as: :integer

    #params
      .row
        #technique.main.span1
          .wrap.input-prepend
            %span.add-on 技
            = f.number_field :technique, class: "span1"

        #technique-sub.span1
          .input-prepend
            %span.add-on A
            = f.number_field :sub_a, class: "span1"
          .input-prepend
            %span.add-on B
            = f.number_field :sub_b, class: "span1"

        #technique-grow.span1
          .input-prepend
            %span.add-on 成長
            = f.number_field :grow_dexterity, class: "span1"
          .input-prepend
            %span.add-on 成長
            = f.number_field :grow_agility, class: "span1"
        #technique-equipment.span1
          .input-prepend
            %span.add-on 修正
            = f.number_field :dexterity_equipment, class: "span1"
          .input-prepend
            %span.add-on 修正
            = f.number_field :agility_equipment, class: "span1"


      .row
        #physique.main.span1
          .wrap.input-prepend
            %span.add-on 体
            = f.number_field :physique, class: "span1"

        #physique-sub.span1
          .input-prepend
            %span.add-on C
            = f.number_field :sub_c, class: "span1"
          .input-prepend
            %span.add-on D
            = f.number_field :sub_d, class: "span1"

        #physique-grow.span1
          .input-prepend
            %span.add-on 成長
            = f.number_field :grow_strength, class: "span1"
          .input-prepend
            %span.add-on 成長
            = f.number_field :grow_vitality, class: "span1"
        #physique-equipment.span1
          .input-prepend
            %span.add-on 修正
            = f.number_field :strength_equipment, class: "span1"
          .input-prepend
            %span.add-on 修正
            = f.number_field :vitality_equipment, class: "span1"


      .row
        #heart.main.span1
          .wrap.input-prepend
            %span.add-on 心
            = f.number_field :heart, class: "span1"

        #heart-sub.span1
          .input-prepend
            %span.add-on E
            = f.number_field :sub_e, class: "span1"
          .input-prepend
            %span.add-on F
            = f.number_field :sub_f, class: "span1"

        #heart-grow.span1
          .input-prepend
            %span.add-on 成長
            = f.number_field :grow_intelligence, class: "span1"
          .input-prepend
            %span.add-on 成長
            = f.number_field :grow_mind, class: "span1"
        #heart-equipment.span1
          .input-prepend
            %span.add-on 修正
            = f.number_field :intelligence_equipment, class: "span1"
          .input-prepend
            %span.add-on 修正
            = f.number_field :mind_equipment, class: "span1"

    %hr

    #skills
      %h3 冒険者技能
      - @skills = SwordWorldRpg2::Skill.all.cache
      = f.fields_for :acquired_skills do |s|
        .row
          .span2
            = s.input :skill_id, as: :select, collection: @skills, input_html: { class: "span2"}
            = s.input :level, as: :integer, input_html: { class: "span1"}
          .span1.offset2.remove
            = s.link_to_remove '<span class="btn btn-small btn-danger"><i class="icon-trash icon-white"></i></span>'.html_safe
      = f.link_to_add "<i class=\"icon-plus icon-white\"></i>技能を追加する".html_safe, :acquired_skills, {class: "btn btn-info"}

    %hr

    #function-skills
      %h3 一般技能
      = f.fields_for :function_skills do |s|
        .row
          .span2
            = s.input :name
            = s.input :level, as: :integer
          .span1.offset2.remove
            = s.link_to_remove '<span class="btn btn-small btn-danger"><i class="icon-trash icon-white"></i></span>'.html_safe
      = f.link_to_add "<i class=\"icon-plus icon-white\"></i>技能を追加する".html_safe, :function_skills, {class: "btn btn-info"}
    %hr

    #combat-skills
      %h3 戦闘特技
      - @combat_skills = SwordWorldRpg2::CombatSkill.all.cache
      = f.input :combat_skills, as: :select, collection: @combat_skills, :input_html => { :multiple => true, "data-placeholder" => "戦闘特技を検索" ,class: "chzn-select" }
    %hr

    #abilities
      %h3 練技・呪歌など
      = f.fields_for :abilities do |a|
        .row
          .span2
            = a.input :name, input_html: {class: "span2"}
            = a.input :description, input_html: {class: "span3"}
          .span1.offset2.remove
            = a.link_to_remove '<span class="btn btn-small btn-danger"><i class="icon-trash icon-white"></i></span>'.html_safe
      = f.link_to_add "<i class=\"icon-plus icon-white\"></i>練技等を追加する".html_safe, :abilities, {class: "btn btn-info"}
    %hr

    #items
      %h3 装備／所持品
      = f.input :honor_items, as: :text, input_html: {class: "span5"}, label: "名誉アイテム"
      = f.input :equipments, as: :text, input_html: {class: "span5"}, label: "装備品"
      = f.input :items, as: :text, input_html: {class: "span5"}, label: "所持品"
    %hr

    #profile
      %h3 プロフィール／メモ
      = f.input :profile, as: :text, input_html: {class: "span5"}, label: "プロフィール"
      = f.input :memo, as: :text, input_html: {class: "span5"}, label: "メモ"
    %hr

    .form-actions
      = f.button :submit, class: "btn btn-primary"
