= javascript_tag do
  $(function() {
  window.app = new TrpgRolling.ChatApp();
  window.app.firstLoad =
  != @room.to_json
  ;
  });


- content_for :sidebar do
  .span3
    .well.sidebar-nav
      %ul.nav.nav-list#rooms-nav
        %li.nav-header Rooms
      %ul.nav.nav-list{id: "users-nav-#{@room.id}"}
        %li.nav-header
          Users(
          %span{id: "num-users-#{@room.id}"} 0
          )

%h2
  = @room.title
  - if @room.closed?
    %span.label.label-important Closed
- if @room.roomable
  %strong #{@room.roomable_type} by #{@room.roomable.title}

%div.pull-right
  - if can? :update, @room
    = link_to 'Edit', edit_room_path(@room), class: 'btn btn-mini btn-primary'
    - unless @room.closed?
      = link_to 'Close Room', [:close, @room.roomable, @room], class: 'btn btn-mini btn-warning', method: :put

%dl
  %dt Owner
  %dd
    %i.icon-user
    = link_to @room.user.name, @room.user
    - if @room.user == current_user
      %soan.label.label-info you

  %dt Created
  %dd
    %i.icon-time
    = @room.created_at.to_s :db

%div.well
  = @room.description.presence || "No Description."

%div.form-actions
  - unless @room.closed?
    %a.btn.btn-success{href: "#", id: "join", :data => {:id  => @room.id} }
      %i.icon-plus-sign.icon-white
      %b Join Room

  = back_from_room @room.roomable

%div(style="display:none" id="input")
  %form.well
    %input{:type => 'text', :class => 'span6', :placeholder => 'Message...'}
    %button{:type => 'submit', :class => 'btn'} Send

%div.well#chat-container
