!!! 5
%html{:lang => "ja"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : "TrpgRolling"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    / Le styles
    = stylesheet_link_tag "application", :media => "all"
    :css
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    / Le fav and touch icons
    = favicon_link_tag image_path("favicon.ico")
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    = javascript_include_tag "application"

  %body(id="#{controller_name}-#{action_name}")
    = render "navigation"

    .container
      .row
        = yield :sidebar
        %div(class="#{content_for?(:sidebar) ? 'span9' : 'span12'}")
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}", :class => "alert" if msg.is_a?(String)
          = yield

  %footer
    %p &copy; Company 2012
